<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <section name="log4net"
           type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>
  <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="log4net.Util.PatternString" value="LogViewerlog.xml" />
      <param name="AppendToFile" value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
				<maxSizeRollBackups value="2" />
				<maximumFileSize value="100MB" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>      
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <LogViewer.Properties.Settings>
          <setting name="AppWidth" serializeAs="String">
            <value>800</value>
          </setting>
          <setting name="AppHeight" serializeAs="String">
            <value>600</value>
          </setting>
          <setting name="Split" serializeAs="String">
            <value>150</value>
          </setting>
        </LogViewer.Properties.Settings>
    </userSettings>
</configuration>
